<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="assets/img/icon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost/my/login_php/App/assets/css/reset.css">
    <link rel="stylesheet" href="http://localhost/my/login_php/App/assets/css/recoveryPassword.css">
    <title>Recuperar Senha</title>
</head>

<body>
    <main>
        <div id="form_recovery">
            <div>
                <h2>Recuperar Senha</h2>
            </div>
            <form action="http://localhost/my/login_php/recoveryPassword/check" method="post">
                <section>
                    <label for="email" >Email:</label>
                    <input required type="email" id="email" name="email" placeholder="Digite seu email aqui">
                </section>
                <aside id="msg_aviso">
                    {% if msg != ''%}
                        <h3>{{msg.msg}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h3>
                    {% endif %}
                </aside>
                <section id="section_btns">
                    <a href="http://localhost/my/login_php/" id="btn_voltar_login">Voltar ao Login</a>
                    <button onclick="loadingSendEmail()" id="btn_enviar_email">Enviar email</button>
                </section>
            </form>
        </div>
    </main>
    <script src="http://localhost/my/login_php/app/assets/js/recoveryPassword.js"></script>
</body>

</html>