
body{
    width: 100vw;
    height: 100vh;
}

/* 320x480 */
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.749);
}

#form_recovery{
    min-width: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705);
}

#form_recovery div{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

#form_recovery div h2{
    font-size: 1.2em;
    margin-top: 10px;
}

#form_recovery form{
    width: 100%;
    gap: 5px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#form_recovery form section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#form_recovery form section label{
    width: 100%;
    margin: 5px;
}

#form_recovery form section input{
    width: 96%;
    min-height: 25px;
    padding: 5px;
    text-indent: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 0.6em;
}

#form_recovery form section input::placeholder{
    color:grey;
    text-indent: 10px;
    font-size: 1em;
}

#form_recovery form #msg_aviso{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#form_recovery form #msg_aviso h3{
    font-size: 0.7em;
    color: rgb(0, 139, 144);
}

#form_recovery form #section_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

#form_recovery form section #btn_enviar_email{
    background-color: rgba(0, 128, 0, 0.4);
    max-width: 70%;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

/* 768x1024 */
@media screen and (min-width: 768px) {

    #form_recovery{
        width: 350px;
    }
    
    #form_recovery div h2{
        font-size: 2.3em;
    }
    
    #form_recovery form section{
        padding: 20px;
    }

    #form_recovery form #msg_aviso h3{
        font-size: 1em;
    }
    
    #form_recovery form section label{
        margin: 15px;
        font-size: 1.5em;
    }
    
    #form_recovery form section input{
        padding: 5px;
        font-size: 1em;
    }

    #form_recovery form section input:hover{
        transform: scale(1.05);
    }
    
    #form_recovery form section input::placeholder{
        font-size: 1em;
    }
    
    #form_recovery form #section_btns{
        padding: 20px;
    }
    
    #form_recovery form section #btn_enviar_email{
        font-size: 1.5em;
    }

    #form_recovery form section #btn_enviar_email:hover{
        transform: scale(1.1);
    }
    
}

/* 1280x720 */

/* 1920x1080 */
@media screen and (min-width: 1920px) {

    #form_recovery{
        width: 400px;
    }
    
    #form_recovery div h2{
        font-size: 2.5em;
    }
    
    #form_recovery form section{
        padding: 40px;
    }

    #form_recovery form section label{
        margin: 10px;
        font-size: 1.5em;
    }
    
    #form_recovery form section input{
        padding: 10px;
    }
    
    #form_recovery form section input::placeholder{
        font-size: .7em;
    }
    
    #form_recovery form #section_btns{
        padding: 40px;
    }

    #form_recovery form section #btn_enviar_email:hover{
        transform: scale(1.1);
    }
}